.trading_summary {
  display: flex;
  justify-content: center;
  background-color: aqua;
}

.trading_summary_type {
  height: 4rem;
  width: 12rem;

  display: flex;
  align-items: center;

  margin: 10px;
  background-color: bisque;
}

.summary_card {
  display: flex;
  justify-content: end;
}

.number {
  font-weight: bold;
  font-size: x-large;
}